<ul id="hexGrid">
	{% for key, content in contents %}
		<li class="hex">
			<a class="hexIn" href="#">
				<img src="{{ content.file }}" alt="" />
				<h1> {{ content.title |e }}</h1>
				<p>{{ content.body |e }}</p>
			</a>
		</li>
	{% endfor %}
</ul>